/* Committing and pushing to git
 git init
 git add .
 git commit -am "messagehere"
 git remote add origin REPOSITORYLINKHERE
 git push origin master
 */
body {
    background-color: whitesmoke;
  }

.container{
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 10px solid var(--clr-dark);
}

.group1{
  background-color: rgb(194, 16, 16);
}

.container{
  background-color: rgb(8, 132, 248);
}
.sidepanel{
  background-color: rgb(206, 86, 17);
}dwadsdaw



